/* HEADER */
.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 17px 0 rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 5px 17px 0 rgba(50, 50, 50, 0.25);
  box-shadow: 0 5px 17px 0 rgba(50, 50, 50, 0.25);
  z-index: 500;
}
.wrapper {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
.menuWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.logo {
  overflow: hidden;
  z-index: 900;
  transition: none;
  padding-right: 50px;
}
.logo img {
  width: 188px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}
.menuItem {
  height: 75px;
  background-color: #fff;
  position: relative;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: 0.3s;
}
.menuItem:hover {
  background: #fb9060;
}
.menuLink {
  color: #fff;
  font-size: 20px;
  color: #2f393f;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 25px;
}
.menuItem:hover .menuLink {
  color: #fff;
}
.getStarted {
  transition: none;
  text-decoration: none;
}
.button {
  padding: 0 10px;
  cursor: pointer;
  font-size: 19px;
  height: 50px;
  background-color: #fff;
  color: #fe002a;
  border: 1px solid #fe002a;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  white-space: nowrap;
}
.button:before {
  content: "";
  position: absolute;
  background-color: #fe002a;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: 0.3s;
}
.button:hover:before {
  width: 100%;
  transition: 0.3s;
  z-index: -9999;
}
.button:hover {
  color: #fff;
  background-color: transparent;
}

@media screen and (max-width: 1200px) and (min-device-width: 771px) {
  .wrapper {
    width: 95%;
  }
  .logo img {
    width: 125px;
  }
  .menu {
    margin-right: 50px;
  }
  .menuLink {
    font-size: 16px;
    padding: 0 15px;
  }
  .button {
    font-size: 15px;
  }
}

@media screen and (max-width: 770px) {
  .menu {
    display: none;
  }
  .getStarted {
    display: none;
  }
  .menuWrap {
    width: auto;
  }
}
/* HEADER */
